aws_region: "us-east-1"
vpc_id: "vpc-aaaaaa
public_subnet_ids:
  - "subnet-wwwww"
  - "subnet-yyyyy"
private_subnet_ids:
  - "subnet-xxxxx"
  - "subnet-zzzzz"
allow_cidr_lb:
  - "179.249.249.249/16"
alb_port: 443
certificate_arn: "arn:aws:acm:region:account:certificate/uuid"
allow_cidr_ecs:
  - "10.100.0.0/16"
container_port: 8080
app_name: "svc-name"
environment_variables:
  FLASK_ENV: "production"
  CUSTOM_VAR: "custom_value"